version: '3.8'

services:

  mongodb:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: pratham16013/mean-app-be:latest
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongodb:27017/meanapp
    depends_on:
      - mongodb

  frontend:
    image: pratham16013/mean-app-fe:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
